
.DS_Store
assignments/hw1/hw1-player.html
assignments/hw1/hw1_demo.png
assignments/hw1/images/b_list.png
assignments/hw1/images/b_next.png
assignments/hw1/images/b_pausing.png
assignments/hw1/images/b_playing.png
assignments/hw1/images/b_prev.png
assignments/hw1/images/b_shuffle.png
assignments/hw1/images/eruma.jpeg
assignments/hw1/images/flowers-bird.jpeg
assignments/hw1/images/p_list.png
assignments/hw1/images/p_next.png
assignments/hw1/images/p_playing.png
assignments/hw1/images/p_prev.png
assignments/hw1/images/p_shuffle.png
assignments/hw1/images/pbar.png
assignments/hw2/hw2_demo.mov
assignments/hw2/own/archive_images/thumb-chihiro01.png
assignments/hw2/own/archive_images/thumb-chihiro02.png
assignments/hw2/own/archive_images/thumb-chihiro03.png
assignments/hw2/own/archive_images/thumb-chihiro04.png
assignments/hw2/own/archive_images/thumb-chihiro05.png
assignments/hw2/own/archive_images/thumb-chihiro06.png
assignments/hw2/own/archive_images/thumb-nausicaa010.png
assignments/hw2/own/archive_images/thumb-nausicaa011.png
assignments/hw2/own/archive_images/thumb-nausicaa07.png
assignments/hw2/own/archive_images/thumb-nausicaa08.png
assignments/hw2/own/archive_images/thumb-nausicaa09.png
textbooks/HTML_CSS_lecture_book/beautiful_text.html
textbooks/HTML_CSS_lecture_book/bike-icon.webp
textbooks/HTML_CSS_lecture_book/Float.html
textbooks/HTML_CSS_lecture_book/hw3.tgz
textbooks/HTML_CSS_lecture_book/images/bike.png
textbooks/HTML_CSS_lecture_book/images/Bike_evo.png
textbooks/HTML_CSS_lecture_book/Opacity.html
textbooks/HTML_CSS_lecture_book/Parent Float-Solution.html
textbooks/HTML_CSS_lecture_book/pH_scale.html
textbooks/HTML_CSS_lecture_book/Text Indent.html
textbooks/HTML_CSS_lecture_book/Three Column Layout.html
textbooks/HTML_CSS_lecture_book/Using Float to Place Elements Side-by-Side.html
textbooks/JavaScript and JQuery - Interactive Front-End Web Development.pdf
textbooks/Web Design With Html CSS - Jon Duckett, 2014.pdf
課程進度表.xlsx
